{% extends "text.html" %}

{% block postTitle %}
	Mission
{% endblock %}

{% block postBody %}
	<p>We started TriplePulse out of Westwood, California, with the goal of helping amateur and intermediate endurance athletes reach their full potential.  We’ve sifted through the noise of the endurance nutrition market to deliver the essential vitamins and supplements conveniently to the door of our customers on a monthly basis.  Our mission is to support endurance athletes, both physically and mentally, and help overcome their challenges during the race and beyond.  In addition to our products, we will curate web content with expert training insight and inspiration from sophisticated athletes. We believe this mix is the recipe for perseverance and universal success.<p>
	
{% endblock %}

{% block postImage %}
{% endblock %}